.login-container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      30%,
      rgba(255, 255, 255, 0)
    ),
    url(back2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
