@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
.home {
  padding: 0;
}
section {
  padding: 5rem 10%;
}
.slide3 {
  /* text-align: right; */
  justify-content: end;
}
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px;

  height: 110vh;
  background-size: cover !important;
  background-position: top !important;
  /* background: linear-gradient(to right, #0d00fd48, #ff04046b); */
}

.slide .content {
  width: 45rem;
}
/* .slide .content3 {
  text-align: right;
} */

.slide .content h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  position: absolute;
  width: 40%;

  /* color: #fff; */
}

/* slide 1 */

.content1 img {
  position: absolute;
  right: 10%;
}
.animate11 {
  right: 0 !important;
  transition: 1s all ease-in-out;
}

/* slide 2 */
.sl2-hd {
  top: -10%;
}
.content2 .sl2-bd {
  right: 5%;
  top: 100%;
}
.animate21 {
  right: 5%;
  top: 30% !important;
  transition: 1s all ease-in-out;
}
.animate22 {
  right: 5%;
  top: 35% !important;
  transition: 1s all ease-in-out;
}
/* slide 3 */
.content3 h3 {
  right: -150%;
  /* top: 100%; */
}
.animate3 {
  top: 50% !important;
  right: 50% !important;

  transition: 1s all ease-in-out;
}

.slide .content3 p,
.slide .content p {
  font-size: 1rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background: #ffce34 !important;
  font-size: 20rem !important;
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
