@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
.home {
  padding: 0;
}
section {
  padding: 5rem 10%;
}
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
  padding-bottom: 100px;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  /* background: linear-gradient(to right, #0d00fd48, #ff04046b); */
}

.slide .content {
  width: 45rem;
}

.slide .content h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  /* color: #fff; */
}

.slide .content p {
  font-size: 1rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background: #ff7004 !important;
  font-size: 20rem !important;
}
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
.content .btna {
  /* display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  /* border: 0.1rem solid #0eb582; */
  /*border-radius: 22px;
  background: #6c7ae0;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500; */

  padding: 15px 25px;
  /* margin: 0 20px; */
  display: inline-block;
  text-align: center;
  padding: 17px 20px;
  border-radius: 0px;
  line-height: 1.2;
  letter-spacing: 2px;
  border: 0px;
  width: 30%;
  transition: all 0.4s ease 0s;
  font-size: 16px;
  /* font-family: "Playfair Display", serif; */
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ff7004;
  color: rgb(255, 255, 255);
}
.content .btna:hover {
  color: #ff7004;
  background-color: rgb(255, 255, 255);
}
